<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bluered.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5F269B51CF11AA1001F331B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F269C91CF11AA1001F331B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5F269D41CF11AA2001F331B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
